<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./styles/index.css">
    <title>Vue base page</title>
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <a
            class="product-image-link"
            v-bind:href="imageLink"
          >
            <img
              width="200"
              height="200"
              v-bind:src="image"
              v-bind:alt="altText"
              v-bind:title="imageTitle"
              :class="[ inStock ? 'active' : '' ]"
            />
          </a>
        </div>

        <div class="product-info">
          <h1>{{ title }}</h1>
          <p v-if="inStock">In Stock</p>
          <p v-else :class="{ 'out-of-stock': !inStock }">Out of Stock</p>
          <p>{{ onSale }}</p>

          <ul>
            <li v-for="detailItem in details">{{ detailItem }}</li>
          </ul>

          <div
            class="color-box"
            v-for="(variant, index) in variants"
            :key="variant.id"
            :style="{ backgroundColor: variant.color }"
            @mouseover="updateProduct(index)"
          ></div>

        <div class="actions">


          <button
            v-on:click="addToCart"
            :disabled="!inStock"
            :class="{ disabledButton: !inStock }"
          >Add to Cart</button>
          <button @click="removeFromCart" :disabled="!inStock">Remove from Cart</button>

          <div class="cart">
            <p>
              Cart({{ cart }})
            </p>
          </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="./index.js"></script>
  </body>
</html>

<!-- :class="{ disabledButton: !inStock }" -->
